<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Getting Password
                <small class="text-muted">Welcome to Promoworks Application</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Promoworks</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                    <li class="breadcrumb-item active">Getting Password {{updateClients.clientName}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Input -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <h2 class="card-inside-title">Getting Password {{updateClients.clientName}}</h2>
                        <div class="row clearfix">
                            
                                
                            <div class="col-sm-12">
                                                                <form class="form-horizontal" method="post" action="/password/get-password/{{user._id}}/change" >
                                                                    
                                                           {{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger text-center">{{msg}}</div>
      {{/each}}
{{/if}}

                                <div class="form-group">
                                    <div class="form-line">
                                        <input class="form-control" type="password" name="password" id="password" placeholder ="New Password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="password" name="repeat" id="repeat" placeholder ="Repeat Password" class="form-control" />
                                    </div>
                                </div>
                                                                
                            <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="mobile" id="mobile" value="{{user.mobile}}" readonly class="form-control" />
                                    </div>
                                </div>
                                               
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                              
                                                                    
                                                    <br/>                
                                                    <br/>                
                                                                                                                
                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-success btn-block btn-outline m-b-10 m-l-5">Submit</button>
                                                </div>
                                                                    
                                                                    
                                                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Input --> 
    </div>
</section>
